<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cheap.thrills">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="cheap.thrills.UniversalResortApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_cheapthrills"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_cheapthrills_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".location.LocationService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name="cheap.thrills.activities.TicketTempletActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cheap.thrills.activities.TicketTempletActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cheap.thrills.activities.TicketTempletActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="cheap.thrills.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cheap.thrills.activities.DrawerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cheap.thrills.activities.CreateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cheap.thrills.activities.AlertActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cheap.thrills.activities.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cheap.thrills.activities.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="cheap.thrills.activities.BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cheap.thrills.activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="cheap.thrills.activities.WalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cheap.thrills.activities.OrderIdLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- <service android:name=".firebaseServices.InstanceIdService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name="cheap.thrills.activities.WalletDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cheap.thrills.activities.MyWalletScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_my_wallet_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>